@{
    ViewBag.Title = "Firomwy Schowek";
}

<div class="jumbotron">
    <h1>Firmowy Schowek </h1>
    <p class="lead">Firmowy schowek to darmowa aplikacja dla wszystkich</p>
    
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Witaj Użytkowniku!</h2>
        <p>
            Aplikacja Firmowy Schowek jest w fazie testów
        </p>
        
    </div>
  
</div>